html,body{
	
    background: #E8F0F2 url(images/fon.jpg);
	width:1200px;
	height:100%;
    margin-left: auto;
	margin-right: auto;
		
	//overflow: hidden;
}
  . primer {
 border: 1px solid #333
 }



